<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ zoo_name }} - Zookeeper Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container-fluid">
            <h1 class="navbar-brand" style="color: rgb(13, 90, 90); font-size: 2.5rem; letter-spacing: .3rem;">
                JungleHaven
            </h1>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end px-4" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}" style="font-size: 1.2rem;">Home</a>
                    </li>
        
                    {% if current_user.is_authenticated %}
                    {% if current_user.role == 'employee' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('zookeeper_page') }}" style="font-size: 1.2rem;">Employee</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('tickets_page') }}" style="font-size: 1.2rem;">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}" style="font-size: 1.2rem;">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('tickets_page') }}" style="font-size: 1.2rem;">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}" style="font-size: 1.2rem;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}" style="font-size: 1.2rem;">Register</a>
                    </li>
                {% endif %}
                                </ul>
            </div>
        </div>
    </nav>
    <div class="container mb-5 d-flex justify-content-center align-items-center">

<form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_animal', animal_name=animal.name) }}" class="mb-4 w-50 p-4 mt-4" style="background-color: rgb(227, 234, 241); border-radius: .5rem;">
    <h3>Edit {{animal.name}}'s Details</h3>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ animal.name }}"class="form-control mt-1 mb-2">
        </div>
    <div class="form-group">
        <label for="animal_class">Animal Class:</label>
        <input type="text" id="animal_class" name="animal_class" value="{{ animal.animal_class }}"class="form-control mt-1 mb-2">
        </div>
    <div class="form-group">
        <label for="food">Food:</label>
        <input type="text" id="food" name="food" value="{{ animal.food }}"class="form-control mt-1 mb-2">    
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="{{ animal.gender }}"class="form-control mt-1 mb-2">
        </div>
    <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="{{ animal.age }}"class="form-control mt-1 mb-2">
        </div> 

    <div class="form-group mb-2">
        <label for="current_image">Current Image:</label><br>
        <img src="{{ url_for('static', filename=animal.image_url) }}" alt="Current Animal Image" style="max-width: 200px; max-height: 200px;">
        </div>
        
    <div class="form-group">
        <label for="image">New Image (optional):</label>
        <input type="file" id="image" name="image" class="form-control mt-1 mb-2">
        </div> <br>           
    <button type="submit" class="btn w-100" style="background-color:  rgb(13, 90, 90); color: white;">Update Animal</button>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
